*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin:0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.textlogo{
    width: 50px;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nametext{
    margin-left:-1.2rem ;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}

.nav-items{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}
.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 rem;
    padding-bottom: 8 rem;
}
.faded-text{
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -40%;
    left: 150px;
    font-weight: bold;
    transition: all 3s;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-discription{
  margin-top: 1rem;  
  width: 70%;
  font-weight: 500;
}
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.hero-section-right{
    position: relative;
}
.icon-dots{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}
.icon-dots img{
    z-index: -9;
}
@keyframes scaleImage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px #000108;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
}
.project-secton{
    background-color: rgb(231,231,231);
    margin: 4rem;
}
.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 0;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.project-card {
    width: 90%;
    height: 550px;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
} 
#Project1{
    background-image: url(./Image/project1.png);
}
#Project2{
    background-image: url(./Image/project2.png);
}
.project-card::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background: color #dd1b1b9a ;
    z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background : linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: rgb(2555,255,255);
    z-index: 10;
    display: none;
}
.project-card:hover .project-number{
    display: block;
}
.project-number-right{
    right: -40px;
    top: -45px;
}
.project-number-left{
    left: -40px;
    top: -45px;
}
.project-contant{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    bottom: 20%;
    z-index: 5;
    gap: 1rem;
    transition: all 0.4s;
}
.project-contant-right{
    right: 10%;
}
.project-contant-left{
    left: 10%;
}
.projecct-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.project-skills{
    display: flex;
    align-items: center;
    
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-sub-heading{
    font-size: 16px;
    font-style: italic;
}
.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.project-card:hover .project-contant{
    transform: scale(1.1);
}
@media(max-width:1300px) {
    .page-header{
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 40px;
    }
    .project-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }
    .project-card{
        width: 100%;
        height: 300px;
    }
    .project-card{
        background-size: cover;
        background-position: center;
    }
    .project-contant{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .project-contant-left{
        left: 0;
    }
    .project-heading{
        font-size: 40px;
        width: 100px;
    }
    .project-sub-heading{
        width: 100px;
    }
    .projecct-skills-container{
        width: 100px;
    }
    .project-skills{
        width: 35px;
    }
    .project-card:hover .project-number{
        display: none;
    }
    .project-card:hover .project-contant{
        scale: 0.5s;
    }
}
.Skills-container{
    left: 10%;
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}
.Skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Skills-container-right{
    height: 60px;
    width: 20%;
    gap: 2rem;
    flex-wrap: wrap;
    position: relative;
    justify-content: center; 
}
 .faded-text-skills{
    position: absolute;
    font-size: 10em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -25%;
    right: 20%;
    user-select: none;
}
.Skills-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}
.Skills-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
.Skills-subHeading{
    margin: 15px 0;
} 
.contactus-form-container{
    width: 100%;
    background-color: rgb(231,231,231);
}  
.contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
}
.contactus-subHeading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}
.contactus-form-container{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}
.formfied-container{
    width: 100%;

}
.formfied{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 40px;
    padding: 0 2rem;
    font-size: 18px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    margin-top: 17px;
    border: none;
}
.formfied-textarea{
    height: auto;
    padding-top: 1rem;
}
#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}
footer{
    position: relative;
    margin: top -1px;
    background-color:white;
    padding: 5rem;
}
.footer-wrapper{
    width: 90%;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 10%;
    bottom: 0; color: #535c87;
    user-select: none;
    font-size: 5em;
}
.link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.link-wrapper div a{
    font-family: bold;
    color:black;
    text-decoration: none;
}
.link-wrapper div a:hover{
    color: var(--bgOrange);
}
.icon-wrapper{
    display: flex;
    gap: 1rem;
}
.icon-wrapper a:hover{
    color: var(--bgOrange);
}